@use "../../assets/styles/mixins" as mixin;
.header {
  position: relative;
  height: 58px;
  padding: 5px 15px;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  background-color: var(--white);
  img {
    width: 130px;
  }
}

.headerList {
  @include mixin.xs {
    display: none;
  }
}
.headerXs {
  display: none;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.7;
  }
  @include mixin.xs {
    display: block;
  }
}
