.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.8;
  }
}

.btn-reverse-primary {
  background-color: var(--white);
  color: var(--primary);
  border: 2px solid var(--primary);
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.8;
  }
}

.card {
  border-radius: 20px;
  background-color: var(--white);
}

.text-primary {
  color: var(--primary);
}
